.carousel-bg {
  background-color: #feeae9;
}

.categori-bg-1 {
  background-color: #ffc320;
}
.categori-bg-2 {
  background-color: #ff3e8b;
}
.categori-bg-3 {
  background-color: #4043fb;
}

/* body {
  background-image: linear-gradient(
    to bottom,
    #ffffff 0%,
    #ffffff 92%,
    #f4f4f4 92%,
    #f4f4f4 100%
  );
} */
.submit-btn {
  background-color: #ff3886;
  border: none;
}
